.empty{
    font-size: 30px;
    margin-left: 690px;
    margin-top: -10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cart1{
    display: inline-block;
}

.buy {
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 117px;
    margin-top: 20px;
    padding: 20px;
    width: fit-content; 
}

.name{
    font-size: 24px; 
    font-weight: normal;
    text-align: center;
    background: linear-gradient(to right, rgb(79, 8, 8) -20%, white);
    -webkit-background-clip: text;
    color: transparent;
}

.mll,.quantit{
    font-size: 18px;
}
.total{
    font-size: 25px;
    text-align: right;
    margin-right: 100px;
    margin-top: 40px;
}

.price{
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    font-style: italic;
}

.buyButton {
    background-color: #602828;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    width: 400px;
    margin-left: 1407px;
}

.logiin{
    font-size: 50px;
    color: #ffffff;
    margin-left: 730px;
}

.logform{
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    margin-left: 630px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.log{
    margin-left: 140px;
    margin-top: 40px;
}

.pass{
    font-size: 20px;
    margin-top: 33px;
    margin-left: 10px;
}

.pas{
    margin-left: -33px;
}

.email{
    font-size: 20px;
    margin-top: 33px;
    margin-left: 10px;
}

.password{
    color: #ff0000;
    font-style: italic;
}

.dont{
    font-size: 15px;
    margin-left: 730px;
    margin-top: 20px;
}

.error{
    color: #ffffff;
    margin-left: 120px;
    margin-top: 10px;
    font-size: small;
    font-style: italic;
}

.exit-button{
    color: #b82828;
    margin-left: 1500px;
    margin-top: -300px;
}